.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgb(235, 235, 235);
}

.BackStyle {
  position: relative;
  width: 70%;
  height: 570px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border: 1px hidden black;
  border-radius: 20px;
  background-color: white; 
}

.BackStyleLog1 {
  width: 49.89%;
  height: 100%;
  background-color: rgb(231, 72, 72);
  float: left;
  border: 1px hidden black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 0;
}

.BackStyleLog2 {
  width: 49.89%;
  height: 100%;
  background-color: white;
  float: right;
  border: 1px hidden black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 0;
}

.Container {
  position: absolute;
  width: 40%;
  margin: auto;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding-bottom: 10px;
  left: 30%;
  top: 15%;
  bottom: 15%;
}

.BottomBorder {
  border-top: 3px solid rgb(231, 72, 72);
  margin-right: 45%;
  margin-left: 45%;
  margin-top: -3%;
  margin-bottom: 5%;
}

.inputWithIcon input{
  display: inline-block;
  width: 90%; 
  height: 25px;
  margin: auto;
  position: relative;
  margin-top: 30px;
  border: 0;
  border-bottom: 2px solid #aaa;
  padding: 4px;
  transition: 0.3s;
  background-color:rgb(249, 249, 249);
  color: black;
}

input:focus{
  border-color: black;
  box-shadow: 0 0 8px darkolivegreen;
}

.inputWithIcon{
  position: relative;
  text-align: center;
  margin: auto;
  width: 80%;
}
.inputWithIcon i{
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 30px;
  padding: 10px 11px;
  color: #aaa;
}
.inputWithIcon input:focus + i{
  color: black;
  animation: Icon-Spin 1 1s linear ;
}

.submit {
  margin-top: 30px; 
  width: 75%;
  height: 30px;
  background-color: rgb(231, 72, 72);
  border: 1px solid rgb(255, 57, 57);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  color: white;
}

.submit:hover {
  width: 60%;
  border-color: steelblue;
  background-color: white;
  color: gray;
}

.App-link {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 4px;
  padding: 5px;
  color: gray;
  transition: 0.5s;
  text-decoration: none;
}

.App-link:hover {
  font-size: 20px;
  color: rgb(231, 72, 72);
}

.BackStyleSign1 {
  width: 100%;
  height: 50%;
  margin: auto;
  background-color: rgb(231, 72, 72);
  border: 1px hidden black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 0;
}

.BackStyleSign2 {
    width: 100%;
    height: 50%;
    margin: auto;
    background-color: white;
    border: 1px hidden black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 0;
  
}

.RightSide {
  width: 50%;
  height: 100%;
  float: right;
}

.LeftSide {
  width: 50%;
  height: 100%;
  float: left;
}

.UpSide {
    width: 100%;
    height: 50%;
    margin: auto;
    background-color: white;
    border: 1px hidden black;
    border-top-right-radius: 20px;
    border-top: 0;
    border-left: 0;
}

.DownSide {
    width: 100%;
    height: 50%;
    margin: auto;
    background-color: rgb(231, 72, 72);
    border: 1px hidden black;
    border-bottom-right-radius: 20px;
    border-top: 0;
    border-left: 0;
    text-align: center;
}

.UpSide1 {
    width: 100%;
    height: 50%;
    margin: auto;
    background-color: rgb(231, 72, 72);
    border: 1px hidden black;
    border-top-left-radius: 20px;
    border-top: 0;
    border-left: 0;
}

.DownSide1 {
    width: 100%;
    height: 50%;
    margin: auto;
    background-color: white;
    border: 1px hidden black;
    border-bottom-left-radius: 20px;
    border-top: 0;
    border-left: 0;
}

.test {
  display: block;
  position: absolute;
  left: 15%;
  color: white;
}

.userPic {
  display: block;
  width: 15vw;
  height: 15vw;
  margin: auto;
}

.redsubmit {
  margin-top: 10px; 
  width: 10vw;
  height: 28px;
  background-color: white;
  border: 1px solid steelblue;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  color: gray;
}

.redsubmit:hover {
  width: 14vw;
  border-color: red;
  background-color: rgb(231, 72, 72);
  color: white;
}

.errorType {
  position: absolute;
  border: 1px solid rgb(231, 72, 72);
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  padding: 3px;
  background-color: rgb(231, 72, 72);
  color: white;
  font-size: 80%;
  transition: 0.3s;
}

.submitLink {
  display: block;
  border: 1px solid red;
  background-color: rgb(231, 72, 72);
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 12%;
  margin-right: 12%;
  text-decoration: none;
  color: white;
  padding: 2px;
  transition: 0.5s;
}

.submitLink:hover{
  margin-left: 20%;
  margin-right: 20%;  
  border-color: steelblue;
  background-color: white;
  color: gray;
}

.ConversationList {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 24.9vw;
  height: 90vh;
  background-color: rgb(231, 72, 72);
  overflow: auto;
}

.chatPage {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid gray;
  border-left: 0;
  width:75vw;
  height: 90vh;
}
.conv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid gray;
  background-color: rgb(231, 72, 72);
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  padding: 2%;
}

.conv:hover {
  background-color: pink;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-start;
  flex-grow: 1;
  padding-left: 5px;
  padding-top: 5px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 16;
  padding: 5px;
  margin-left: -10%;
}

.inf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nameview {
  background-color: gray;
  text-align: center;
  color: white;
}

.unSeen {
  position: relative;
  color: gray;
  border: 0.5px solid gray;
  background-color: white;
  padding: 2px;
  border-radius: 25px;
  width: 25px; 
  height: 25px; 
  left: 5px; 
}

.unSeen0 {
  position: relative;
  color: gray;
  padding: 2px;
  border-radius: 25px;
  width: 25px; 
  height: 25px; 
  left: 5px;
}

.screen {
  height: 80vh;
  background-color: rgb(237,237,237);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2%;
  overflow: auto;
}

.header {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(237,237,237);
  border: 0;
}

.headtohead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 72, 72);
  width: 30%;
  border-radius: 30px;
  opacity: 0.5;
  transition: 1s;
  cursor: pointer;
}

.headtohead:hover {
  opacity: 1;
  width: 100%;
}

.footer {
  height:10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(231, 72, 72);
}

.message {
  background-color: gray;
  color: #fff;
  padding: 2px 10px;
  margin: 2px;
  border-radius: 15px 15px 15px 0;
  font-size: 120%;
}
.sender {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pm {
  flex-grow: 40;
  height: 60%;
  border: 0;
  border-bottom: 2px solid gray;
  border-radius: 25px;
  transition: 0.5s;
  padding-left: 10px;
  font-size: 120%;
}

.pm:focus {
  border-bottom: 2px solid black;
}

.suggest {
  background-color: rgb(237,237,237);
  border: 2px solid gray;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 100px;
  font-size: 200%;
  padding: 1%;
  padding-left: 10%;
}

.suggest:hover {
  background-color: gray
}

.seachPage{
  position: absolute;
  flex-direction: row;
  width: 50vw;
  height: 70vh;
  border: 1px solid gray;
  background-color: rgb(231, 72, 72);
  opacity: 0.5;
  right: 16vw;
  top: 10vh;
  border-radius: 20px;
  transition: 1s;
}

.seachPage:hover{
  opacity: 1;
}

.search{
  width:80%;
  margin-left: 10%;
  margin-top: 10%;
}

@keyframes Icon-Spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
